
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    min-height: 100vh;
    background-color: rgb(67, 67, 67);
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar img {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.sidebar h2 {
    text-align: center;
    color: #b5292f;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
    width: 100%;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 5px;
}

.sidebar ul li a {
    color: #ddd;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;

}

.sidebar ul li a:hover {
    background-color: #b5292f;
    color: #fff;
}

.sidebar ul li a i {
    margin-right: 10px;
}

.content {
    margin: 0;
    width: 100%;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 0 10px;
    gap: 10px;
}


.header form {
    display: flex;
    flex: 1;
    max-width: 1000px;
}

.header input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 0;
}

.header button {
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.icons .fas:hover {
    transform: translateY(3px);
}
.icons .fas{
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #B5292F;
    color: White;
    border-radius: 5px;
}
/* Xử lý table */
table {
    width: 100%;
    max-height: 800px;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 12px 15px;
    text-align: center;
}

table th {
    background-color: #f1f1f1;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}
table tr:hover {
    background-color: #e9e9e9;
}

.details-button {
    background-color: #f1f1f1;
    border: solid 1px #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;

}

.details-button:hover {
    background-color: #b5292f;
    color: white;
}

.buttonDetailInvoice {
    background-color: #f1f1f1;
    border: solid 1px #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;

}

.buttonDetailInvoice:hover {
    background-color: #b5292f;
    color: white;
}

/* Xử lý pagination */
.pagi {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 999;
    padding-top: 15px;

}

.pagi .pagiOrder {
    padding: 8px 12px;
    border-radius: 5px;
    background: #f1f1f1;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
}

.pagi .pagiOrder.active {
    background-color: #B5292F;
    color: white;
    font-weight: bold;
}

.pagi .pagiOrder:hover {
    transform: translateY(-5px); /* Di chuyển lên trên 5px */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Thêm đổ bóng cho nổi bật */
}

.pagi .pagiOrder:hover:not(.active) {
    background-color: rgb(182, 179, 177);
    border-radius: 5px;
}


/* Xử lý Pop up */
.popup {
    display: none; /* Ẩn pop-up lúc đầu */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Nền mờ */
    justify-content: center;
    align-items: center;
    z-index: 9999;

}

body.no-scroll {
    overflow: hidden !important;
    touch-action: none;
}


/*.popup-content {*/
/*    position: relative;*/
/*    width: 565px;*/
/*    height: 780px;*/
/*    background-color: white;*/
/*    max-height: calc(100vh - 60px);*/
/*    box-shadow: 0px 4px 30px rgb(0 0 0 / 25%);*/
/*    border-radius: 5px;*/
/*    padding: 5px;*/

/*    justify-content: center;*/
/*    align-items: center;*/

/*    text-align: left;*/
/*    overflow: hidden;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

.popup-body {
    flex: 1; /* Tự động co giãn */
    overflow-y: auto; /* Kéo lên xuống nếu nội dung dài */
    padding: 10px;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: transparent transparent;
    width: 100%;
}

/* Hiển thị thanh cuộn khi di chuột vào */
.popup-body:hover {
    scrollbar-color: #b12704 #f1f1f1; /* Màu thanh cuộn và nền */
}

/* Tùy chỉnh thanh cuộn trên Chrome & Edge */
.popup-body::-webkit-scrollbar {
    width: 6px; /* Thu nhỏ thanh cuộn */
}

.popup-body::-webkit-scrollbar-thumb {
    background: rgba(177, 39, 4, 0.7); /* Màu thanh cuộn */
    border-radius: 4px; /* Bo góc */
}

.popup-body::-webkit-scrollbar-track {
    background: transparent; /* Ẩn thanh cuộn khi không di chuột */
}


.popup-content-check {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 600px;
    height: 250px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
}

.checkText {
    font-size: 20px;
    text-align: center;
    margin: 30px auto;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-actions {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.buttonSubmitCheck, .button-cancel-order {
    flex: 1;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #ccc;
    font-size: 16px;
}


.buttonSubmitCheck:hover, .button-cancel-order:hover {
    background-color: #b5292f;
    color: white;
}


.details-button:disabled {
    cursor: default;
    pointer-events: none;
    color: #000;
    background-color: inherit;
}

.cancel-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    z-index: 9999;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 300px;
}

.popup-header {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    margin: 15px auto;
}

.cancel-reason {
    width: 100%;
    height: 150px;
}

.popup-actions-cancel {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.button-confirm-cancel, .button-cancel-cancel {
    margin-top: 10px;
    flex: 1;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #ccc;
    font-size: 16px;
}

.button-confirm-cancel:hover, .button-cancel-cancel:hover {
    background-color: #b5292f;
    color: white;
}

/*detail*/
.popup-content-detail {
    position: relative;
    width: 565px;
    height: 780px;
    background-color: white;
    max-height: calc(100vh - 60px);
    box-shadow: 0px 4px 30px rgb(0 0 0 / 25%);
    border-radius: 5px;
    padding: 5px;

    justify-content: center;
    align-items: center;

    text-align: left;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.closeDetail {
    background-color: #dddddd;
    border-radius: 50%;
    width: 0;
    height: 0;
    border: solid 1px black;
    font-size: 28px;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.product-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.product-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px;
    border: 1px solid #e1e1e1;;
}

.popup-order-info {
    margin-bottom: 15px;
    font-size: 15px;
    color: #333;
}

.popup-order-row {
    display: flex;
    margin-bottom: 8px;
}

.popup-order-label {
    width: 160px;
    font-weight: 500;
    color: #666;
}

.popup-order-value {
    flex: 1;
    font-weight: 600;
    color: #222;
}

.product-info {
    flex: 1;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 5px;
}

.product-quantity {
    font-size: 15px;
    color: #555;
}


.product-total {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-align: right;
    min-width: 100px;
}

.order-total {
    text-align: right;
    margin: 15px 0;
    font-size: 15px;
    font-weight: bold;
    color: #333;
}

.total-money {
    color: #b5292f;
}

.line_end {
    max-width: 1000px;
    height: 1px;
    background-color: #e8e8e8;
    margin-left: auto;
    margin-right: auto;
}

.line_st {
    max-width: 1000px;
    height: 1px;
    background-color: #e8e8e8;
    margin: 10px auto;
}

.popup-order-top {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.popup-order-id,
.popup-order-status {
    display: flex;
    align-items: center;
}

.popup-order-label {
    font-weight: 500;
    color: #666;
    width: 140px;
}

.popup-order-value {
    font-weight: 600;
    color: #222;
}

